
/* Header */
.header {
  background-color: #221610;
  border: none;
  box-shadow: none; 
  margin: 0;  
  padding: 0 7rem; 
  top: 0;  
  left: 0;
  
  width: 100%;
  height: 180px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

/* Reset global para eliminar margens padrão */
body, html {
  margin: 0;
  padding: 0;
}

/* Container para logo + nav */
.header-left {
  display: flex;
  align-items: center;
  gap: 2rem; 
  justify-content: center;
  flex-grow: 1;
}

/* Logo */
.header-img {
  width: 550px; 
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: 0;
  
}

/* Menu horizontal */
.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: 700;
  color: #fff; 
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-size: larger;
}

.nav a:hover { 
  background-color: #8B5E3C;    
}

/* Botões à direita */
.buttons {
  display: flex;
  gap: 1rem; 
}

.btn-login,
.btn-signup {
  background-color: #3E2C23;
  border: 1px solid #fff; 
  color: #fff; 
  font-size: 0.875rem; 
  font-family: "Trebuchet MS", Arial, sans-serif;
  padding: 0.5rem 1.25rem; 
  border-radius: 0.375rem; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover,
.btn-signup:hover {
  background-color:  #8B5E3C; 
}

/* Responsividade */
@media (max-width: 1024px) {
  .header-img {
    width: 200px;
  }
  .nav {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem 1rem 1rem; /* mais espaçamento superior no mobile */
  }
  .header-left {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .buttons {
    justify-content: center;
    margin-top: 1rem;
  }
}

